node_modules
npm-debug.log
build
coverage

# Exclude compiled files
lib
icon-builder/js
icon-builder/jsx
app/*.woff
app/*.eot
app/*.ttf
app/*.woff2

# Exclude IDE project folders
.idea
*.sublime-project
*.sublime-workspace

# OS files
.DS_STORE
